.main_pic {
  margin-top: 10px;
  height: 675px;
  background-image: url(images/Megan_card.png);
  background-position: center;
  background-repeat: no-repeat;
}
.resBtn {
  display: block;
  margin-left: 75%;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: azure;
}
.home-main {
  background: #070707;
  color: #fff;
  padding: 05%;
  text-align: center;
}
.blinker {
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.home-main button {
  background: #fff;
  color: #504168;
  border-radius: 0;
  font-weight: 700;
  width: 16%;
  height: 50px;
  top: 4%;
  margin-top: 3%;
}
.home-main button:hover {
  transition: 1s ease;
  color: #5812c5;
  width: 19%;
}
.content1-left {
  padding: 2%;
  text-align: center;
  background: white;
}
.content1-right {
  padding: 1%;
  background: #000000;
}
.home-content2 {
  background: #000000;
  padding: 1.4%;
  text-align: center;
}
.home-content2 p {
  color: #fff;
  font-size: 18px;
  line-height: 50px;
}
.home-content2 p span {
  font-weight: 500;
}
.footerContent {
  text-align: center;
  background-color: #000000;
  color: #faf5f5;
}

.content1-right-employment {
  background-color: #f3ebeb;
}
.education {
  text-align: center;
}
.content1-right-empolyment {
  text-align: center;
}
.resume_btn {
  background-color: black;
  margin-right: 10%;
  padding: 3px 3px;
  color: aliceblue;
  border-radius: 20px;
}
